<!DOCTYPE html>
<html lang="pt-br" th:insert="~{template :: modelo}" xmlns:th="http://www.thymeleaf.org">
	<section th:fragment="conteudo">
		<form action="/predio/apartamento/cadastrar" method="post" th:object="${apartamento}">
			<div class="mb-3">
				<label for="numero">Numero</label>
				<input class="form-control" id="numero" th:field="*{numero}" type="number" />
				<div class="alert alert-warning" th:errors="*{numero}" th:if="${#fields.hasErrors('numero')}"></div>
			</div>
			<div class="mb-3">
				<label for="quartos">Quartos</label>
				<input class="form-control" id="quartos" th:field="*{quartos}" type="number" />
				<div class="alert alert-warning" th:errors="*{quartos}" th:if="${#fields.hasErrors('quartos')}"></div>
			</div>
			<div class="mb-3">
				<label for="tipo">Tipo</label>
				<select class="form-select" id="tipo" th:field="*{tipo}">
					<option value="Proprietário">Proprietário</option>
					<option value="Inquilino">Inquilino</option>
					<option value="Vazio">Vazio</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="proprietario">Proprietario</label>
				<select class="form-select" id="proprietario" th:field="*{proprietario.id}">
					<option th:each="proprietario : ${proprietarios}" th:text="${proprietario.nome}" th:value="${proprietario.id}"></option>
				</select>
				<div class="alert alert-warning" th:errors="*{proprietario}" th:if="${#fields.hasErrors('proprietario')}"></div>
			</div>
			<button class="btn btn-primary" type="submit">Gravar</button>
		</form>
	</section>
</html>
