<!DOCTYPE html>
<html lang="pt-br" th:include="template :: modelo" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="conteudo">
        <a class="btn btn-success" href="/jdbc/professor/cadastrar">Cadastrar</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="professor : ${professores}">
                    <th th:text="${professor.id}"></th>
                    <td th:text="${professor.nome}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/jdbc/professor/editar(id=${professor.id})}">Editar</a>
                        <a class="btn btn-danger btn-sm" th:href="@{/jdbc/professor/excluir(id=${professor.id})}">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>
