* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.gap-50 {
    gap: 50px;
}

.gap-20 {
    gap: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p,
li {
    color: gray;
    font-size: 18px;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
    color: darkorange;
}

img {
    width: 100%;
}

/* Cabeçalho navegação */

header nav {
    justify-content: flex-end;
}

header a:any-link {
    color: gray;
    text-decoration: none;
    padding: 30px 10px;
}

/* Principal */

main {
    gap: 100px;
}

/* Principal banner */

main #banner {
    height: 520px;
}

main #banner > div {
    width: 100%;
}

main #banner > div > div {
    width: 575px;
}

/* Principal info */

main #info {
    background-color: darkblue;
}

main #info > div {
    margin: 25px 25px 0 auto;
    background-color: white;
    border: 5px solid darkorange;
    border-radius: 15px;
    padding: 40px 30px;
    text-align: center;
}

main #info p {
    line-height: 30px;
}

main #info > div > div {
    justify-content: center;
}

main #info a {
    background-color: darkorange;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
}

main #info a:hover {
    background-color: lightsalmon;
}

/* Principal tablet */

main #tablet {
    background-color: darkorange;
}

main #tablet > div {
    margin-left: 20px;
}

/* Principal notebook */

main #notebook {
    text-align: center;
    gap: 10px;
}

main #notebook img {
    width: min-content;
}

main #notebook > div {
    gap: 30px;
    margin-top: 20px;
}

main #notebook > div > div {
    align-items: center;
}

/* principal lighthouse */

main #lighthouse {
    width: 950px;
    margin: auto;
}

main #lighthouse div > div:first-of-type {
    width: 100%;
}

main #lighthouse li {
    line-height: 40px;
    width: max-content;
}

/* Rodapé */

footer {
    margin-top: 100px;
}

footer p {
    background-color: darkorange;
    color: white;
    padding: 50px;
    text-align: center;
}
