<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<link type="text/css" rel="stylesheet" href="style.css" />
		<title>Document</title>
	</head>

	<body>
		<!-- Cabeçalho -->
		<header>
			<h1>WIFI - Um pouco sobre TUDO</h1>

			<!-- Cabeçalho: Menu de navegação -->
			<nav>
				<ul>
					<li><a href="">Opção 1</a></li>
					<li><a href="">Opção 2</a></li>
					<li><a href="">Opção 3</a></li>
				</ul>
			</nav>
		</header>

		<!-- Principal -->
		<main>
			<!-- Seção: Esportes -->
			<section>
				<h2>Esportes</h2>

				<!-- Artigo: Campeonato Brasileiro -->
				<article>
					<h3>Campeonato Brasileiro</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non dolorum atque debitis beatae pariatur, perferendis
						aspernatur iure enim! Asperiores, autem. Mollitia minima, eaque alias officia illum ut quibusdam tenetur? Lorem ipsum, dolor
						sit amet consectetur adipisicing elit. Accusantium nam perspiciatis modi odio totam asperiores dolore vero, vel velit quidem,
						dolores aliquam sit quo adipisci quos soluta dolorem aspernatur quam. Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Necessitatibus, natus. Voluptates sed ea repudiandae cumque accusantium at ipsa iste laboriosam numquam. Animi libero
						ipsam exercitationem impedit laborum enim fuga ut.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non dolorum atque debitis beatae pariatur, perferendis
						aspernatur iure enim! Asperiores, autem. Mollitia minima, eaque alias officia illum ut quibusdam tenetur? Lorem ipsum, dolor
						sit amet consectetur adipisicing elit. Accusantium nam perspiciatis modi odio totam asperiores dolore vero, vel velit quidem,
						dolores aliquam sit quo adipisci quos soluta dolorem aspernatur quam. Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Necessitatibus, natus. Voluptates sed ea repudiandae cumque accusantium at ipsa iste laboriosam numquam. Animi libero
						ipsam exercitationem impedit laborum enim fuga ut.
					</p>
				</article>

				<!-- Artigo: Olimpíadas -->
				<article>
					<h3>Olimpíadas</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non dolorum atque debitis beatae pariatur, perferendis
						aspernatur iure enim! Asperiores, autem. Mollitia minima, eaque alias officia illum ut quibusdam tenetur? Lorem ipsum, dolor
						sit amet consectetur adipisicing elit. Accusantium nam perspiciatis modi odio totam asperiores dolore vero, vel velit quidem,
						dolores aliquam sit quo adipisci quos soluta dolorem aspernatur quam. Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Necessitatibus, natus. Voluptates sed ea repudiandae cumque accusantium at ipsa iste laboriosam numquam. Animi libero
						ipsam exercitationem impedit laborum enim fuga ut.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non dolorum atque debitis beatae pariatur, perferendis
						aspernatur iure enim! Asperiores, autem. Mollitia minima, eaque alias officia illum ut quibusdam tenetur? Lorem ipsum, dolor
						sit amet consectetur adipisicing elit. Accusantium nam perspiciatis modi odio totam asperiores dolore vero, vel velit quidem,
						dolores aliquam sit quo adipisci quos soluta dolorem aspernatur quam. Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Necessitatibus, natus. Voluptates sed ea repudiandae cumque accusantium at ipsa iste laboriosam numquam. Animi libero
						ipsam exercitationem impedit laborum enim fuga ut.
					</p>
				</article>
			</section>

			<!-- Seção: Notícias -->
			<section>
				<h2>Notícias</h2>

				<!-- Artigo: Notícias Do Brasil -->
				<article>
					<h2>Do Brasil</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non dolorum atque debitis beatae pariatur, perferendis
						aspernatur iure enim! Asperiores, autem. Mollitia minima, eaque alias officia illum ut quibusdam tenetur? Lorem ipsum, dolor
						sit amet consectetur adipisicing elit. Accusantium nam perspiciatis modi odio totam asperiores dolore vero, vel velit quidem,
						dolores aliquam sit quo adipisci quos soluta dolorem aspernatur quam. Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Necessitatibus, natus. Voluptates sed ea repudiandae cumque accusantium at ipsa iste laboriosam numquam. Animi libero
						ipsam exercitationem impedit laborum enim fuga ut.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non dolorum atque debitis beatae pariatur, perferendis
						aspernatur iure enim! Asperiores, autem. Mollitia minima, eaque alias officia illum ut quibusdam tenetur? Lorem ipsum, dolor
						sit amet consectetur adipisicing elit. Accusantium nam perspiciatis modi odio totam asperiores dolore vero, vel velit quidem,
						dolores aliquam sit quo adipisci quos soluta dolorem aspernatur quam. Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Necessitatibus, natus. Voluptates sed ea repudiandae cumque accusantium at ipsa iste laboriosam numquam. Animi libero
						ipsam exercitationem impedit laborum enim fuga ut.
					</p>
				</article>

				<!-- Artigo: Notícias Do Mundo -->
				<article>
					<h2>Do Mundo</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non dolorum atque debitis beatae pariatur, perferendis
						aspernatur iure enim! Asperiores, autem. Mollitia minima, eaque alias officia illum ut quibusdam tenetur? Lorem ipsum, dolor
						sit amet consectetur adipisicing elit. Accusantium nam perspiciatis modi odio totam asperiores dolore vero, vel velit quidem,
						dolores aliquam sit quo adipisci quos soluta dolorem aspernatur quam. Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Necessitatibus, natus. Voluptates sed ea repudiandae cumque accusantium at ipsa iste laboriosam numquam. Animi libero
						ipsam exercitationem impedit laborum enim fuga ut.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore non dolorum atque debitis beatae pariatur, perferendis
						aspernatur iure enim! Asperiores, autem. Mollitia minima, eaque alias officia illum ut quibusdam tenetur? Lorem ipsum, dolor
						sit amet consectetur adipisicing elit. Accusantium nam perspiciatis modi odio totam asperiores dolore vero, vel velit quidem,
						dolores aliquam sit quo adipisci quos soluta dolorem aspernatur quam. Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Necessitatibus, natus. Voluptates sed ea repudiandae cumque accusantium at ipsa iste laboriosam numquam. Animi libero
						ipsam exercitationem impedit laborum enim fuga ut.
					</p>
				</article>
			</section>
		</main>

		<!-- Rodapé -->
		<footer>
			<p>Rodapé da página</p>
		</footer>
	</body>
</html>
