<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            rel="stylesheet"
        />
    </head>

    <body class="container">
        <div class="row">
            <div class="col-3">
                <h1>Some Favorites</h1>
                <ul class="navbar-nav">
                    <li><a class="text-decoration-none" href="#">Celery Root</a></li>
                    <li><a class="text-decoration-none" href="#">Spaghetti Squash</a></li>
                    <li><a class="text-decoration-none" href="#">Killer Mushrooms</a></li>
                </ul>
                <form class="row">
                    <div class="col-auto">
                        <label>
                            <input class="form-control" type="text" />
                        </label>
                    </div>
                    <div class="col-auto">
                        <input class="btn btn-primary" type="button" value="Search Recipes" />
                    </div>
                </form>
            </div>

            <div class="col-9">
                <h1>Wild & Wacky Vegetables</h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Vaggies</th>
                            <th>Disiases</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Beets</td>
                            <td>Baeturia</td>
                        </tr>
                        <tr>
                            <td>Carrots</td>
                            <td>Carotenosis</td>
                        </tr>
                    </tbody>
                </table>

                <p>
                    Kale courgette salsify mustard broccoli seakale wakame potato fava bean tigernut leek celery spinach avocado cabbage celtuce rutabaga kohlrabi. Parsnip pea soko
                    groundnut bitterleaf spring onion. Grape dulse rutabaga lentil gram kakadu plum water spinach cabbage lotus root.
                </p>
                <p>
                    Mung bean quandong kale prairie turnip celery gram zucchini pumpkin green bean silver beet chard endive komatsuna eggplant kakadu plum radish broccoli. Arugula
                    amaranth fennel wakame peanut garlic chickweed. Sorrel jícama quandong kale chickpea water chestnut rock melon aubergine lettuce pea azuki bean cress onion sea
                    lettuce dandelion nori dulse rutabaga. Coriander napa cabbage bok choy carrot kakadu plum brussels sprout bamboo shoot salad okra cucumber garlic kombu beet
                    greens cauliflower summer purslane. Artichoke daikon horseradish arugula taro catsear kombu rock melon pea sprouts collard greens mustard courgette lettuce soko
                    maize plantain.
                </p>

                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img
                                    alt=""
                                    class="card-img-top"
                                    src="https://www.salonline.com.br/ccstore/v1/images/?source=/file/v6071453685745884380/products/67027.post.jpg&height=300&width=300"
                                />
                                <div class="card-body">
                                    <h5 class="card-title">Card Title</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis sit amet augue ac semper. Cras eget sem libero. Mauris suscipit, nibh
                                        nec scelerisque cursus, mauris arcu efficitur velit, at efficitur urna dui sed elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img
                                    alt=""
                                    class="card-img-top"
                                    src="https://www.salonline.com.br/ccstore/v1/images/?source=/file/v6071453685745884380/products/67027.post.jpg&height=300&width=300"
                                />
                                <div class="card-body">
                                    <h5 class="card-title">Card Title</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis sit amet augue ac semper. Cras eget sem libero. Mauris suscipit, nibh
                                        nec scelerisque cursus, mauris arcu efficitur velit, at efficitur urna dui sed elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img
                                    alt=""
                                    class="card-img-top"
                                    src="https://www.salonline.com.br/ccstore/v1/images/?source=/file/v6071453685745884380/products/67027.post.jpg&height=300&width=300"
                                />
                                <div class="card-body">
                                    <h5 class="card-title">Card Title</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis sit amet augue ac semper. Cras eget sem libero. Mauris suscipit, nibh
                                        nec scelerisque cursus, mauris arcu efficitur velit, at efficitur urna dui sed elit.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script
            crossorigin="anonymous"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        ></script>
    </body>
</html>
