@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

* {
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-image: url(../images/fundo.png);
	font-family: "Oswald";
}

.container {
	width: 1000px;
	margin: auto;
}

.line::after {
	content: "";
	display: block;
	clear: both;
}

/* Cabeçalho */

header > section {
	background-color: black;
	padding: 20px 0px;
}

header .titulo {
	color: white;
	font-size: 32px;
	font-weight: bold;
}

header .amarelo {
	color: yellow;
	font-size: 18px;
}

header #logo {
    padding-left: 65px;
    
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 60px;
    
	float: left;
}

header #contato {
	float: right;
}

/* Cabeçalho menu de navegação */

header nav {
	background-color: rgb(0, 102, 128);
}

header nav ul {
	padding-left: 0px;
	text-align: center;
}

header nav li {
	display: inline-block;
	list-style-type: none;
}

header nav a:any-link {
	display: inline-block;
	padding: 10px 25px;
	font-size: 20px;

	text-decoration: none;
	color: white;
}

header nav a:hover {
	color: rgb(0, 102, 128);
	background-color: white;
}

/* Principal */

main section {
	background-color: white;
	padding: 30px;
}

/* Principal midias */

main .midias img,
main .midias iframe {
	float: left;
	width: 70%;
}

main .midias div {
	padding-left: 30px;

	float: left;
	width: 30%;
}

/* Principal colunas */

main .colunas {
	padding: 20px;
	margin: 20px 0px;
}

main .colunas div {
	padding: 0px 10px;
	text-align: center;

	width: 25%;
	float: left;
}

main .colunas div img {
	width: 100%;
}

main .colunas div p {
	padding: 20px 0px;
}

/* Rodapé */

footer {
	background-color: black;
	padding: 20px;
}

footer p {
	text-align: center;
	color: white;
}
