<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="./css/style.css" />
	</head>

	<body>
		<!-- Cabeçalho -->
		<header>
			<nav>
				<ul>
					<li><a href="">Facebook</a></li>
					<li><a href="">Instagram</a></li>
					<li><a href="">Google Maps</a></li>
					<li><a href="">Twitter</a></li>
					<li><a href="">Youtube</a></li>
				</ul>
			</nav>

			<img src="./images/topo.png" alt="" />

			<h1>Aprendendo HTML5 e CSS3</h1>
			<h2>Curso prático do início ao fim</h2>
		</header>

		<!-- Principal -->
		<main>
			<section>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, aliquid? Dolorem illum obcaecati officia eos unde
					necessitatibus eligendi, veniam distinctio natus mollitia sit voluptate nostrum, iure voluptatum quod, suscipit ullam! Repellendus
					illum provident commodi aperiam molestiae fugiat voluptatum odit sunt corrupti laudantium dolorum dolores veniam, excepturi at
					consequatur iusto ad harum laborum dolorem natus suscipit voluptate quisquam enim. Pariatur, earum? Culpa amet quis aspernatur
					assumenda voluptatum, excepturi a soluta quos voluptas at. Architecto alias molestiae deserunt quas voluptas inventore nesciunt
					autem debitis quibusdam, atque magni natus voluptatum. Doloribus, quasi dolores! Fugiat culpa vitae tempore accusantium magni
					cumque, expedita voluptatum voluptatibus ipsa accusamus! Facilis saepe eum quasi natus reprehenderit maiores, sint dignissimos
					culpa dolor perspiciatis ab illum voluptas sit beatae! Unde! Saepe sint ullam nesciunt aperiam provident ducimus natus est quia
					itaque repellat repellendus necessitatibus maiores ipsum distinctio dolorum fugiat id doloribus, earum veniam fugit. Enim libero
					pariatur unde cum in! Ad cupiditate necessitatibus vel aliquid asperiores expedita ipsa qui possimus esse. Tempore fuga quibusdam
					ipsum commodi quisquam laudantium corrupti omnis aliquid? Culpa aspernatur, corrupti expedita obcaecati quia eaque eos eveniet?
					Qui facilis sed non! Tempore mollitia quos reprehenderit amet consequatur? Sed dolor doloribus delectus dolores blanditiis! Dicta
					at dolor non dolore, voluptates corrupti hic deleniti nobis fuga eos ullam repudiandae. Sed tenetur aut obcaecati debitis ullam
					porro tempora unde, cum fuga saepe cupiditate mollitia, aliquid voluptate, repudiandae cumque doloremque doloribus quae. Dolorem
					temporibus, libero tenetur esse vero maxime aliquam nobis. Assumenda laudantium harum illo a nesciunt! Illum officiis amet vero
					saepe fugit eos magni totam ipsam. Quia error eligendi eaque assumenda magnam optio recusandae, dolor odit voluptate facilis harum
					a. Eligendi, deleniti. Placeat consequatur reprehenderit tenetur non numquam similique iste itaque iure ipsa veniam asperiores
					doloribus architecto, quas totam ad ab. Ullam placeat, veritatis quod quasi sunt optio ut consectetur.
					<a href="https://google.com">[Leia mais]</a>
				</p>
			</section>

			<section>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, aliquid? Dolorem illum obcaecati officia eos unde
					necessitatibus eligendi, veniam distinctio natus mollitia sit voluptate nostrum, iure voluptatum quod, suscipit ullam! Repellendus
					illum provident commodi aperiam molestiae fugiat voluptatum odit sunt corrupti laudantium dolorum dolores veniam, excepturi at
					consequatur iusto ad harum laborum dolorem natus suscipit voluptate quisquam enim. Pariatur, earum? Culpa amet quis aspernatur
					assumenda voluptatum, excepturi a soluta quos voluptas at. Architecto alias molestiae deserunt quas voluptas inventore nesciunt
					autem debitis quibusdam, atque magni natus voluptatum. Doloribus, quasi dolores! Fugiat culpa vitae tempore accusantium magni
					cumque, expedita voluptatum voluptatibus ipsa accusamus! Facilis saepe eum quasi natus reprehenderit maiores, sint dignissimos
					culpa dolor perspiciatis ab illum voluptas sit beatae! Unde! Saepe sint ullam nesciunt aperiam provident ducimus natus est quia
					itaque repellat repellendus necessitatibus maiores ipsum distinctio dolorum fugiat id doloribus, earum veniam fugit. Enim libero
					pariatur unde cum in! Ad cupiditate necessitatibus vel aliquid asperiores expedita ipsa qui possimus esse. Tempore fuga quibusdam
					ipsum commodi quisquam laudantium corrupti omnis aliquid? Culpa aspernatur, corrupti expedita obcaecati quia eaque eos eveniet?
					Qui facilis sed non! Tempore mollitia quos reprehenderit amet consequatur? Sed dolor doloribus delectus dolores blanditiis! Dicta
					at dolor non dolore, voluptates corrupti hic deleniti nobis fuga eos ullam repudiandae. Sed tenetur aut obcaecati debitis ullam
					porro tempora unde, cum fuga saepe cupiditate mollitia, aliquid voluptate, repudiandae cumque doloremque doloribus quae. Dolorem
					temporibus, libero tenetur esse vero maxime aliquam nobis. Assumenda laudantium harum illo a nesciunt! Illum officiis amet vero
					saepe fugit eos magni totam ipsam. Quia error eligendi eaque assumenda magnam optio recusandae, dolor odit voluptate facilis harum
					a. Eligendi, deleniti. Placeat consequatur reprehenderit tenetur non numquam similique iste itaque iure ipsa veniam asperiores
					doloribus architecto, quas totam ad ab. Ullam placeat, veritatis quod quasi sunt optio ut consectetur.
				</p>

				<p class="descricaoLista">Mais informações</p>

				<ul>
					<li>Clique aqui para conhecer mais informações</li>
					<li>Clique aqui para conhecer mais informações</li>
					<li>Clique aqui para conhecer mais informações</li>
				</ul>
			</section>

			<section>
				<div class="geral">
					<div>
						<img src="images/html.png" alt="" />
						<h3>HTML5</h3>

						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum perspiciatis, sequi ipsa corporis molestias
							voluptatibus odio, molestiae at minima dolore obcaecati cupiditate ipsum dicta consequatur iusto cum aperiam maxime eaque.
							Id tempora esse enim odit consequatur recusandae quaerat eum deserunt quidem, illum fugit ratione accusantium aliquid
							voluptatum, amet provident cupiditate commodi officiis cumque impedit veritatis modi? Possimus qui beatae consectetur. Et
							sed veniam sit alias fugiat accusantium natus molestiae inventore a animi ut veritatis consequatur cumque, voluptate cum,
							tempore, sapiente esse? Optio itaque et repudiandae possimus odit dolore ea illo!
						</p>
					</div>

					<div>
						<img src="images/css.png" alt="" />
						<h3>CSS3</h3>

						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum perspiciatis, sequi ipsa corporis molestias
							voluptatibus odio, molestiae at minima dolore obcaecati cupiditate ipsum dicta consequatur iusto cum aperiam maxime eaque.
							Id tempora esse enim odit consequatur recusandae quaerat eum deserunt quidem, illum fugit ratione accusantium aliquid
							voluptatum, amet provident cupiditate commodi officiis cumque impedit veritatis modi? Possimus qui beatae consectetur. Et
							sed veniam sit alias fugiat accusantium natus molestiae inventore a animi ut veritatis consequatur cumque, voluptate cum,
							tempore, sapiente esse? Optio itaque et repudiandae possimus odit dolore ea illo!
						</p>
					</div>

					<div>
						<img src="images/js.png" alt="" />
						<h3>Java Script</h3>

						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum perspiciatis, sequi ipsa corporis molestias
							voluptatibus odio, molestiae at minima dolore obcaecati cupiditate ipsum dicta consequatur iusto cum aperiam maxime eaque.
							Id tempora esse enim odit consequatur recusandae quaerat eum deserunt quidem, illum fugit ratione accusantium aliquid
							voluptatum, amet provident cupiditate commodi officiis cumque impedit veritatis modi? Possimus qui beatae consectetur. Et
							sed veniam sit alias fugiat accusantium natus molestiae inventore a animi ut veritatis consequatur cumque, voluptate cum,
							tempore, sapiente esse? Optio itaque et repudiandae possimus odit dolore ea illo!
						</p>
					</div>
				</div>
			</section>

			<section>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, aliquid? Dolorem illum obcaecati officia eos unde
					necessitatibus eligendi, veniam distinctio natus mollitia sit voluptate nostrum, iure voluptatum quod, suscipit ullam! Repellendus
					illum provident commodi aperiam molestiae fugiat voluptatum odit sunt corrupti laudantium dolorum dolores veniam, excepturi at
					consequatur iusto ad harum laborum dolorem natus suscipit voluptate quisquam enim. Pariatur, earum? Culpa amet quis aspernatur
					assumenda voluptatum, excepturi a soluta quos voluptas at. Architecto alias molestiae deserunt quas voluptas inventore nesciunt
					autem debitis quibusdam, atque magni natus voluptatum. Doloribus, quasi dolores! Fugiat culpa vitae tempore accusantium magni
					cumque, expedita voluptatum voluptatibus ipsa accusamus! Facilis saepe eum quasi natus reprehenderit maiores, sint dignissimos
					culpa dolor perspiciatis ab illum voluptas sit beatae! Unde! Saepe sint ullam nesciunt aperiam provident ducimus natus est quia
					itaque repellat repellendus necessitatibus maiores ipsum distinctio dolorum fugiat id doloribus, earum veniam fugit. Enim libero
					pariatur unde cum in! Ad cupiditate necessitatibus vel aliquid asperiores expedita ipsa qui possimus esse. Tempore fuga quibusdam
					ipsum commodi quisquam laudantium corrupti omnis aliquid? Culpa aspernatur, corrupti expedita obcaecati quia eaque eos eveniet?
					Qui facilis sed non! Tempore mollitia quos reprehenderit amet consequatur? Sed dolor doloribus delectus dolores blanditiis! Dicta
					at dolor non dolore, voluptates corrupti hic deleniti nobis fuga eos ullam repudiandae. Sed tenetur aut obcaecati debitis ullam
					porro tempora unde, cum fuga saepe cupiditate mollitia, aliquid voluptate, repudiandae cumque doloremque doloribus quae. Dolorem
					temporibus, libero tenetur esse vero maxime aliquam nobis. Assumenda laudantium harum illo a nesciunt! Illum officiis amet vero
					saepe fugit eos magni totam ipsam. Quia error eligendi eaque assumenda magnam optio recusandae, dolor odit voluptate facilis harum
					a. Eligendi, deleniti. Placeat consequatur reprehenderit tenetur non numquam similique iste itaque iure ipsa veniam asperiores
					doloribus architecto, quas totam ad ab. Ullam placeat, veritatis quod quasi sunt optio ut consectetur.
				</p>
			</section>

			<section>
				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, aliquid? Dolorem illum obcaecati officia eos unde
					necessitatibus eligendi, veniam distinctio natus mollitia sit voluptate nostrum, iure voluptatum quod, suscipit ullam! Repellendus
					illum provident commodi aperiam molestiae fugiat voluptatum odit sunt corrupti laudantium dolorum dolores veniam, excepturi at
					consequatur iusto ad harum laborum dolorem natus suscipit voluptate quisquam enim. Pariatur, earum? Culpa amet quis aspernatur
					assumenda voluptatum, excepturi a soluta quos voluptas at. Architecto alias molestiae deserunt quas voluptas inventore nesciunt
					autem debitis quibusdam, atque magni natus voluptatum. Doloribus, quasi dolores! Fugiat culpa vitae tempore accusantium magni
					cumque, expedita voluptatum voluptatibus ipsa accusamus! Facilis saepe eum quasi natus reprehenderit maiores, sint dignissimos
					culpa dolor perspiciatis ab illum voluptas sit beatae! Unde! Saepe sint ullam nesciunt aperiam provident ducimus natus est quia
					itaque repellat repellendus necessitatibus maiores ipsum distinctio dolorum fugiat id doloribus, earum veniam fugit. Enim libero
					pariatur unde cum in! Ad cupiditate necessitatibus vel aliquid asperiores expedita ipsa qui possimus esse. Tempore fuga quibusdam
					ipsum commodi quisquam laudantium corrupti omnis aliquid? Culpa aspernatur, corrupti expedita obcaecati quia eaque eos eveniet?
					Qui facilis sed non! Tempore mollitia quos reprehenderit amet consequatur? Sed dolor doloribus delectus dolores blanditiis! Dicta
					at dolor non dolore, voluptates corrupti hic deleniti nobis fuga eos ullam repudiandae. Sed tenetur aut obcaecati debitis ullam
					porro tempora unde, cum fuga saepe cupiditate mollitia, aliquid voluptate, repudiandae cumque doloremque doloribus quae. Dolorem
					temporibus, libero tenetur esse vero maxime aliquam nobis. Assumenda laudantium harum illo a nesciunt! Illum officiis amet vero
					saepe fugit eos magni totam ipsam. Quia error eligendi eaque assumenda magnam optio recusandae, dolor odit voluptate facilis harum
					a. Eligendi, deleniti. Placeat consequatur reprehenderit tenetur non numquam similique iste itaque iure ipsa veniam asperiores
					doloribus architecto, quas totam ad ab. Ullam placeat, veritatis quod quasi sunt optio ut consectetur.
				</p>
			</section>
		</main>

		<!-- Rodapé -->
		<footer>
			<p>Desenvolvido por João Vitor Gomes de Souza</p>
		</footer>
	</body>
</html>
