* {
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: antiquewhite;
	margin: 50px;
}

p {
	border: 1px solid black;
}

[class^="col"] {
	float: left;
	text-align: center;
}

.container {
	background-color: white;
	margin: 20px;
}

/* Cores */

.verde {
	background-color: lightgreen;
}

.amarelo {
	background-color: yellow;
}
.vermelho {
	background-color: lightcoral;
}

.azul {
	background-color: blue;
}

.laranja {
	background-color: orange;
}

/* Principal info */

main #info p:first-of-type {
	background-color: lightblue;
}
