<!DOCTYPE html>
<html lang="pt-br" th:include="template :: modelo" xmlns:th="http://www.thymeleaf.org">
    <section th:fragment="conteudo">
        <form action="/predio/proprietario/editar" method="post" th:object="${proprietario}">
            <label class="d-none"><input readonly th:field="*{id}" /></label>
            <div class="mb-3">
                <label for="nome">Nome</label>
                <input class="form-control" id="nome" th:field="*{nome}" type="text" />
            </div>
            <div class="mb-3">
                <label for="telefone">Telefone</label>
                <input class="form-control" id="telefone" th:field="*{telefone}" type="text" />
            </div>
            <button class="btn btn-primary" type="submit">Gravar</button>
        </form>
    </section>
</html>
