* {
    margin: 0;
    box-sizing: border-box;
}

label,
textarea {
    margin-top: 10px;
    display: block;
}

input:not([type="radio"]),
textarea,
button {
    width: 100%;
}

.container {
    max-width: 500px;
    margin: 10px auto;
}

.box {
    display: flex;
    gap: 50px;
}

.box p {
    margin-top: 10px;
}

.erro {
    color: red;
}
