<!DOCTYPE html>
<html lang="pt-br" th:include="template :: modelo" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="conteudo">
        <header th:replace="jdbc/contatos/fragments/header :: header"></header>

        <main class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contato : ${contatos}">
                        <th th:text="${contato.id}"></th>
                        <td th:text="${contato.nome}"></td>
                        <td th:text="${contato.telefone}"></td>
                        <td th:text="${contato.endereco}"></td>
                        <td>
                            <a th:href="@{/templates/jdbc/contatos/editar(id=${contato.id})}">Editar</a>
                            <a th:href="@{/templates/jdbc/contatos/excluir(id=${contato.id})}">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>
