<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<link type="text/css" rel="stylesheet" href="css/style.css" />
		<title>Document</title>
	</head>

	<body>
		<!-- Cabeçalho -->
		<header>
			<!-- Cabeçalho: Navegação -->
			<nav>
				<ul>
					<li><a href="">HTML</a></li>
					<li><a href="">CSS</a></li>
					<li><a href="">JavaScript</a></li>
				</ul>
			</nav>

			<img src="images/topo.png" alt="" />

			<h1>Aprendendo Web Design na Prática</h1>
			<h2>HTML5, CSS3 e JavaScript</h2>
		</header>

		<!-- Principal -->
		<main>
			<!-- Seção: Tabelas -->
			<section>
				<table>
					<tr>
						<td>
							<img src="images/html5.png" alt="" width="30px" />
							<h3>HTML5</h3>
						</td>
						<td>
							<img src="images/css3.png" alt="" width="30px" />
							<h3>CSS3</h3>
						</td>
						<td>
							<img src="images/javascript.png" alt="" width="30px" />
							<h3>JavaScript</h3>
						</td>
					</tr>
					<tr>
						<td>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quae, distinctio, expedita labore rem quidem vitae
								ducimus illum dolorum praesentium eius qui at ipsa veniam quis ad rerum eveniet totam? Lorem ipsum dolor sit amet,
								consectetur adipisicing elit. Neque, voluptatem, perspiciatis, mollitia amet repellendus accusantium inventore
								voluptatibus odit accusamus nisi a sit cum officia dolorem laborum tempore non maxime nesciunt!
								<a href="">[Leia mais]</a>
							</p>
						</td>
						<td>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quae, distinctio, expedita labore rem quidem vitae
								ducimus illum dolorum praesentium eius qui at ipsa veniam quis ad rerum eveniet totam? Lorem ipsum dolor sit amet,
								consectetur adipisicing elit. Neque, voluptatem, perspiciatis, mollitia amet repellendus accusantium inventore
								voluptatibus odit accusamus nisi a sit cum officia dolorem laborum tempore non maxime nesciunt!
								<a href="">[Leia mais]</a>
							</p>
						</td>
						<td>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quae, distinctio, expedita labore rem quidem vitae
								ducimus illum dolorum praesentium eius qui at ipsa veniam quis ad rerum eveniet totam? Lorem ipsum dolor sit amet,
								consectetur adipisicing elit. Neque, voluptatem, perspiciatis, mollitia amet repellendus accusantium inventore
								voluptatibus odit accusamus nisi a sit cum officia dolorem laborum tempore non maxime nesciunt!
								<a href="">[Leia mais]</a>
							</p>
						</td>
					</tr>
				</table>
			</section>

			<!-- Seção: Portfólio -->
			<section>
				<img src="images/webdesign.jpg" alt="" width="350" />
				<h2>Conheça o nosso portfólio</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur
					pariatur non inventore. Neque, doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque,
					doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a
					laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque, doloribus quae ab accusantium dolores
					numquam ut nulla alias
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur
					pariatur non inventore. Neque, doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque,
					doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a
					laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque, doloribus quae ab accusantium dolores
					numquam ut nulla alias
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur
					pariatur non inventore. Neque, doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque,
					doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a
					laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque, doloribus quae ab accusantium dolores
					numquam ut nulla alias
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur
					pariatur non inventore. Neque, doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque,
					doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a
					laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque, doloribus quae ab accusantium dolores
					numquam ut nulla alias
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur
					pariatur non inventore. Neque, doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque,
					doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a
					laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque, doloribus quae ab accusantium dolores
					numquam ut nulla alias
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur
					pariatur non inventore. Neque, doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet,
					consectetur adipisicing elit. Harum a laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque,
					doloribus quae ab accusantium dolores numquam ut nulla alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum a
					laudantium distinctio iusto soluta neque expedita aspernatur pariatur non inventore. Neque, doloribus quae ab accusantium dolores
					numquam ut nulla alias
				</p>
			</section>

			<!-- Seção: Imagens -->
			<section>
				<img src="images/portifolio01.jpg" alt="" />
				<img src="images/portifolio02.jpg" alt="" />
				<img src="images/portifolio03.jpg" alt="" />
			</section>
		</main>

		<!-- Rodapé -->
		<footer>
			<p>Todos os direitos reservados</p>
			<img src="images/logoRedesSociais.png" alt="" width="130" />
			<p>Rua da Paz, 630. Uberlândia (MG) - Brasil</p>
			<p>+55(34)3221-4800</p>
		</footer>
	</body>
</html>
