<!DOCTYPE html>
<html lang="pt-br" th:include="template :: modelo" xmlns:th="http://www.thymeleaf.org">
    <body class="container" th:fragment="conteudo">
        <h1>Lista de exercícios</h1>

        <h2>Introdução</h2>
        <ul>
            <li><a href="/introducao/revisao">Revisão</a></li>
            <li><a href="/introducao/apostas">Apostas</a></li>
        </ul>

        <h2>Bootstrap</h2>
        <ul>
            <li><a href="/bootstrap/1">Etapa 1</a></li>
            <li><a href="/bootstrap/2">Etapa 2</a></li>
            <li><a href="/bootstrap/3">Etapa 3</a></li>
        </ul>

        <h2>WireFrame</h2>
        <ul>
            <li><a href="/wireframe/pag1">Pagina 1</a></li>
        </ul>

        <h2>JDBC</h2>
        <ul>
            <li><a href="/jdbc/contato">Contato</a></li>
            <li><a href="/jdbc/professor">Professor</a></li>
        </ul>

        <h2>Provas</h2>
        <h3>Primeira</h3>
        <ul>
            <li>
                <a href="/provas/primeira/ex1">1 Exercício</a>
            </li>
            <li>
                <a href="/provas/primeira/ex2">2 Exercício</a>
            </li>
            <li>
                <a href="/provas/primeira/ex3">3 Exercício</a>
            </li>
        </ul>
    </body>
</html>
