<!DOCTYPE html>
<html lang="pt-br" th:insert="~{template :: modelo}" xmlns:th="http://www.thymeleaf.org">
	<section th:fragment="conteudo">
		<h1>Lista de exercícios</h1>
		<h2>Introdução</h2>
		<ul>
			<li><a href="/introducao/revisao">Revisão</a></li>
			<li><a href="/introducao/apostas">Apostas</a></li>
		</ul>
		<h2>Bootstrap</h2>
		<ul>
			<li><a href="/bootstrap/1">Etapa 1</a></li>
			<li><a href="/bootstrap/2">Etapa 2</a></li>
			<li><a href="/bootstrap/3">Etapa 3</a></li>
		</ul>
		<h2>WireFrame</h2>
		<ul>
			<li><a href="/wireframe/pag1">Pagina 1</a></li>
			<li><a href="/wireframe/pag2">Pagina 2</a></li>
		</ul>
		<h2>JDBC</h2>
		<ul>
			<li><a href="/jdbc/contato">Contato</a></li>
			<li><a href="/jdbc/professor">Professor</a></li>
		</ul>
		<h2>Condomínio</h2>
		<ul>
			<li><a href="/predio">Prédio</a></li>
		</ul>
		<h2>1ª Prova</h2>
		<ul>
			<li><a href="/provas/primeira/ex1">Exercício 1</a></li>
			<li><a href="/provas/primeira/ex2">Exercício 2</a></li>
			<li><a href="/provas/primeira/ex3">Exercício 3</a></li>
		</ul>
	</section>
</html>
