* {
    margin: 0;
}

body {
    margin: 0 10px;
}

.destaque {
    font-weight: bold;
    font-size: 18px;
}

input[type="button"],
label,
p {
    display: block;
    margin: 10px 0;
}

input[type="button"]:hover {
    cursor: pointer;
}

.bnt {
    background-color: green;
    padding: 10px;
    color: white;
    border: 0;
}

.bnt:hover {
    background-color: red;
}
