@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
}

/* Cabeçalho */

header {
	font-family: "Anton", sans-serif;
}

header ul {
	background-color: black;
	list-style-type: none;
	padding: 0;

	text-align: center;
	font-size: 0;
}

header ul li {
	display: inline-block;
}

header a:any-link {
	padding: 15px 20px;
	display: inline-block;

	text-decoration: none;
	color: white;
	font-size: 16px;

	transition: all 0.5s;
}

header a:hover {
	background-color: white;
	color: black;
}

header h1 {
	padding: 15px;

	text-align: center;
	font-size: 50px;

	transition: all 0.5s;
}

header h1:hover {
	letter-spacing: 5px;
}

header h2 {
	padding: 15px;

	color: darkred;
	text-align: center;
	font-size: 20px;
}

header img {
	width: 100%;
}

/* Principal */

main section:nth-child(odd) {
	background-color: lightgray;
}

main section {
	padding: 20px;
}

main section p {
	line-height: 1.5em;
}

main section a:any-link {
	color: blue;
	text-decoration: none;
}

.descricaoLista {
	color: red;
	font-weight: bold;
}

main section ul li {
	font-style: italic;

	margin-bottom: 5px;
}

main div.geral {
	width: 1000px;
	margin: auto;
	overflow: auto;
}

main div.geral > div {
	width: 33.33%;
	float: left;
	padding: 0 30px;

	text-align: center;
}

main div.geral > div > h3 {
	padding: 10px;
}

/* Rodapé */

footer {
	padding: 40px 10px;

	background-color: black;
}

footer p {
	text-align: center;
	color: white;
}
