<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
              name="viewport" />
        <meta content="ie=edge" http-equiv="X-UA-Compatible" />
        <title>Document</title>
        <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            rel="stylesheet"
        />
        <script
            crossorigin="anonymous"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        ></script>
    </head>

    <body>
        <header class="d-flex justify-content-between" style="background: red; padding: 20px 130px">
            <h1>Typo</h1>

            <nav class="navbar" style="background: fuchsia">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Archives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="d-flex gap-4 flex-row-reverse min-vh-100" style="background: antiquewhite; padding: 0 130px">
            <aside class="d-flex w-20 gap-3 flex-column p-3" style="background: cornflowerblue">
                <section>
                    <h3>About me</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,</p>
                </section>
                <section class="d-flex gap-5">
                    <div>
                        <h4>Categories</h4>
                        <a class="d-block" href="#">Articles</a>
                        <a class="d-block" href="#">Design</a>
                        <a class="d-block" href="#">Graphics</a>
                        <a class="d-block" href="#">Aspirational</a>
                        <a class="d-block" href="#">Retro</a>
                    </div>
                    <div>
                        <h4>Social</h4>
                        <a class="d-block" href="#">Twitter</a>
                        <a class="d-block" href="#">Facebook</a>
                        <a class="d-block" href="#">Flickr</a>
                        <a class="d-block" href="#">Instagram</a>
                        <a class="d-block" href="#">LastFM</a>
                        <a class="d-block" href="#">Youtube</a>
                    </div>
                </section>
                <section>
                    <h4>Latest posts</h4>
                    <a class="d-block" href="#">Getting your stock photos seen</a>
                    <a class="d-block" href="#">Top 10 tips for new bloggers</a>
                    <a class="d-block" href="#">10 fantastic photography tips</a>
                </section>
                <section>
                    <label for="srinput"><h4>Search</h4></label>
                    <input class="w-100" id="srinput" type="text" />
                </section>
            </aside>

            <div class="d-flex flex-column gap-3">
                <article class="p-3" style="background: lightgreen">
                    <h3>Getting your stock photos seen</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                        has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                        the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </p>
                    <div class="d-flex gap-3">
                        <p>10 october 2011</p>
                        <p>postet in <a href="#"> Acticles</a></p>
                        <a class="d-block" href="#">Continue reading</a>
                    </div>
                </article>
                <article class="p-3" style="background: lightgreen">
                    <h3>Top 10 tips for new bloggers</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                        has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                        the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </p>
                    <div class="d-flex gap-3">
                        <p>10 october 2011</p>
                        <p>postet in <a href="#"> Acticles</a></p>
                        <a class="d-block" href="#">Continue reading</a>
                    </div>
                </article>
                <article class="p-3" style="background: lightgreen">
                    <h3>10 fantastic photography tips</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                        has survived not only five centuries, but also the leap into
                        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                        the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.
                    </p>
                    <div class="d-flex gap-3">
                        <p>10 october 2011</p>
                        <p>postet in <a href="#"> Acticles</a></p>
                        <a class="d-block" href="#">Continue reading</a>
                    </div>
                </article>
                <nav class="d-flex justify-content-between p-3" style="background: fuchsia">
                    <a class="d-block" href="#">Older posts</a>
                    <a class="d-block" href="#">Newer posts</a>
                </nav>
            </div>
        </main>

        <footer style="background: lightgoldenrodyellow">
            <h2 class="text-center p-4">Footer</h2>
        </footer>
    </body>
</html>
