<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thymeleaf</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h2>Product list</h2>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Available from</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${listadeprodutos}">
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.availableFrom}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
