<!DOCTYPE html>
<html lang="pt-br" th:include="template :: modelo" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex gap-4" th:fragment="conteudo">
        <img alt="" class="img-fluid w-100" src="https://www.salonline.com.br/ccstore/v1/images/?source=/file/v6071453685745884380/products/67027.post.jpg&height=300&width=300" />
        <img alt="" class="img-fluid w-100" src="https://www.salonline.com.br/ccstore/v1/images/?source=/file/v6071453685745884380/products/67027.post.jpg&height=300&width=300" />
    </div>
</html>
