<!DOCTYPE html>
<html lang="pt-br" th:include="template :: modelo" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex gap-4" th:fragment="conteudo">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam eveniet id obcaecati odio. Adipisci animi atque corporis cum deleniti enim error est hic illo,
            nihil perferendis quasi repudiandae, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, culpa delectus doloribus, ducimus fugit illum iste
            iusto labore neque non numquam possimus praesentium quae quasi quod quos repellat sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at eos iure
            maiores nobis non odit provident repudiandae sed voluptates. Aut modi nemo nostrum numquam quam reprehenderit, sunt temporibus velit? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Aliquam aperiam eveniet id obcaecati odio. Adipisci animi atque corporis cum deleniti enim error est hic illo, nihil perferendis quasi
            repudiandae, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, culpa delectus doloribus, ducimus fugit illum iste iusto labore neque non
            numquam possimus praesentium quae quasi quod quos repellat sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at eos iure maiores nobis non odit
            provident repudiandae sed voluptates. Aut modi nemo nostrum numquam quam reprehenderit, sunt temporibus velit?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam eveniet id obcaecati odio. Adipisci animi atque corporis cum deleniti enim error est hic illo,
            nihil perferendis quasi repudiandae, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, culpa delectus doloribus, ducimus fugit illum iste
            iusto labore neque non numquam possimus praesentium quae quasi quod quos repellat sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, impedit magni?
            Ad aperiam aspernatur eos eveniet explicabo, laboriosam molestiae nam repudiandae sequi sit. Asperiores, ipsa itaque provident quam qui veniam! Lorem ipsum dolor sit
            amet, consectetur adipisicing elit. Aliquam aperiam eveniet id obcaecati odio. Adipisci animi atque corporis cum deleniti enim error est hic illo, nihil perferendis
            quasi repudiandae, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, culpa delectus doloribus, ducimus fugit illum iste iusto labore neque
            non numquam possimus praesentium quae quasi quod quos repellat sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, impedit magni? Ad aperiam
            aspernatur eos eveniet explicabo, laboriosam molestiae nam repudiandae sequi sit. Asperiores, ipsa itaque provident quam qui veniam!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam eveniet id obcaecati odio. Adipisci animi atque corporis cum deleniti enim error est hic illo,
            nihil perferendis quasi repudiandae, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, culpa delectus doloribus, ducimus fugit illum iste
            iusto labore neque non numquam possimus praesentium quae quasi quod quos repellat sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium esse
            labore rem! Autem dicta excepturi exercitationem iste tenetur ut veritatis? Distinctio ex illum magni maiores necessitatibus quas, soluta totam vero? Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Aliquam aperiam eveniet id obcaecati odio. Adipisci animi atque corporis cum deleniti enim error est hic illo, nihil perferendis
            quasi repudiandae, sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi, culpa delectus doloribus, ducimus fugit illum iste iusto labore neque
            non numquam possimus praesentium quae quasi quod quos repellat sint! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium esse labore rem! Autem dicta
            excepturi exercitationem iste tenetur ut veritatis? Distinctio ex illum magni maiores necessitatibus quas, soluta totam vero?
        </p>
    </div>
</html>
